
/*This thing scrolls way to the left and a little to the right and Im not sure why so watch out for that*/
.bg {
  background-color: black;
  left: -50%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*Need to get rid of this, its useless but it covers up a little white spot at the top of the page which is there for seemingly no reason */
.logoContainer {
  position: absolute;
  align-content: center;
  width: 100vw;
  height: 7%;
  top:0%;
  background-color: black;
}

.logo {
  position: relative;
  width: 100%;
  left: 45%;
  top: 40%;
  font-family: Helvetica;
  color: #141414
}

.arrow {
  position: absolute;
  height: 2%;
  width: 7%;
  top: 96%;
  left: 46.5%;
}