@import "./global"; 

.landingContainer {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 65% 1fr;
    @include mobile{
      display: none;
    }
    div{
        position: relative;
    }
}


.flexbox{
  // background-color: blue;
  // position:s relative;
  display: grid;
  grid-template-columns: 1fr 53% 1fr;
  width: 100%;
  margin: auto;
    @include mobile{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "a"
            "b"
            "c"; 
            .left{
            grid-area: b;
        }
        .right{
          grid-area: c;
        }
        .video{
          grid-area: a;
        }
      }
}
.arrow {
    position: absolute;
    width: 2.5%;
    left: 48.75%;
    max-height: 15px;
    cursor: pointer;
    opacity: 0;
    animation: arrowSlideIn 2s 0.5s forwards ease-in-out;
    @include mobile{
        display: none;
    }
}

.arrow:hover ~ .bottomText {
  opacity: 1;
}


.bottomText{
  position: relative;
  font-size: $bodyText;
  padding-top: 5px;
  width: 100%;
  top: 36%;
  text-align: center;
    font-family: garamond;
    color: $greyX;
    opacity: 0;
    transition: all .8s;
  }
  .logoContainer{
    // background-color: orange;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
        @include mobile{
          height: 55%;
        }
        
    a{
      position: relative;
      left: 45.875%;
      width: 8.25%;
      @include mobile{
        width: 35%;
        margin: auto;
                left: 0;
              }
    }
}
.bottomContainer{
  // background-color: orange;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
    padding-bottom: 2%;
}

@keyframes arrowSlideIn {
  0% { top: 100%; }
  100% {top: 48%; opacity: 1; }
}


//////MOBILE CSS///////

.landingContainerMobile {
  display:none;
  @include mobile {
    background-color: black;
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr 100% 1fr;
  }
}

.logoContainerMobile {
  // background-color: red;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logoMobile {
    // background-color: blue;;
    position: relative;
    width: 100%;
    height: 150%;
    transform: scale(0.3);
  }
}

.flexboxMobile {
  // background-color: pink;
  height: 100%;
  grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "a"
            "b"
            "c"; 
        .leftMobile{
          grid-area: b;
        }
        .rightMobile{
          grid-area: c;
        }
        .videoMobile{
          grid-area: a;
        }
}

