
@import './global';

.leftContainer {
  // background-color: red;
  top:-3%;
  height: 100%;
  font-family: balboa, sans-serif;
  font-weight: bolder;
  font-size: $largeText ;
  line-height: 399%;
  padding-left: 17.25%;
    @include mobile{
        font-size: 7vw;
        line-height: 170%;
        padding-top: 20%;
        padding-left: 7%;
    }
}
.titleBright {
  // background-color: blue;
  position: relative;
  color: $goldX;
  margin-top: -.5 * $largeText;
    @include mobile{
        display: none;
    }
}
.small{
    display: none;
    @include mobile{
        display: block;
        // text-align: center;
    }
}

.titleDark {
  position: absolute;
  top: $largeText * .55;
  color: #202121;
    @include mobile{
        display: none;
    }
}

