
@import "./global";

.rightContainer {
  // background-color: green;
  height: 97%;
  width: 100%;
  top: -3%;
  left: 0%;
  display: grid;
  grid-template-rows: 2fr auto 1fr;
  padding-right: 0%;
    @include mobile{
        height: auto;
        width: 100%;
        margin-left: auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "a"
            "b"
            "c"; 
        .first{
          grid-area: a;
        }
        .third{
          grid-area: b;
        }
        .second{
          grid-area: c;
        }
    }
  .first {
    width: 67%;
    right:10.5%;
    margin-left: auto;
    font-size: $bodyText;
    line-height: $bodyLineHeight;
      @include mobile{
          width: 100%;
          right: 0;
      }
    .blurb {
      width: 90%;
      text-align: right;
      font-family: garamond;
      color: $greyX;
        @include mobile{
          display: none;
        }
    }
    .blurbMobile {
      display: none;
      @include mobile {
        display: block;
        font-size: 5vw;
        text-align: right;
        font-family: garamond;
        color: $greyX;
        line-height: 175%;
        width: 90%;
        margin-left: auto;
        padding-right: 10%;
        box-sizing: border-box;
      }
    }

  }

  .second {
    @include mobile {
      display: none;
    }
  }

  .third {
    h1 {
      position: absolute;
      width: 82.5%;
      top: -3%;
      text-align: right;
      font-family: balboa, sans-serif;
      font-weight: bolder;
      font-size: 4.4vw;
      color: $goldX;
        @include mobile{
            position: relative;
            top: -11%;
            text-align: left;
            padding-left: 8%;
            font-size: 15vw;
        }
    }
    p {
      position: absolute;
      top: 42%;
      font-size: $biggerBodyText;
      font-family: garamond;
      width: 82.5%;
      text-align: right;
      padding-right: 100%;
      color: $greyX;
        @include mobile{
            position: relative;
            width: 100%;
            text-align: left;
            padding-left: 10%;
            top: -30%;
            font-size: 5vw;
        }
    }
    .lineTwo {
      height: 0.4vw;
      width: 59%;
      right: 17.5%;
      top: 52%;
      background-color: $goldX;
      margin-left: auto;
      margin-right: 0%;
      margin-top: 20%;
        @include mobile{
            position: relative;
            width: 80%;
            right: 10%;
            top: -50%;
        }
    }

    @keyframes lineSlideIn {
      0% { width: 0%; background-color: white; }
      100% {width: 59%; }
    }
  }
}