.rightContainer {
  position: absolute;
  height: 65%;
  width: 14%;
  top: 17.5%;
  left: 81.25%;
  display: block;
  /* background-color: yellow; */
}

.blurb {
  position: relative;
  top: -3%;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 1vw;
  text-align: right;
  color: grey;
}

.counter {
  position: relative;
  top: 1%;
  left: 41%;
  font-family: balboa, sans-serif;
  font-weight: bolder;
  font-size: 4.5vw;
  color: #C1B267;
}

.counterCaption {
  position: relative;
  top: -9.5%;
  left: 0%;
  font-family: helvetica;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.2vw;
  text-align: right;
  color: grey;
}

/*Made this line invisible for now, i think i like it better. To bring it back just adjust the width to 0.5%. Will have to adjust spacing on the bottom elements if we just take it out completely so didn't wanna rush into that */
.lineOne {
  position: relative;
  height: 30%;
  width: 0.1%;
  top: -2.5%;
  left: 99.2%;
  background-color: #C1B267;
}

.lineTwo {
  position: relative;
  height: 1%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: #C1B267;
}