@import './global';
.submissionContainer {
  display: grid;
  grid-template-rows: 1fr 75% 1fr;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: -10;
    @include mobile{
        position: relative;
        grid-template-rows: .2fr 1fr .2fr;
        z-index: 2;
    }
  div{
    position: relative;
  }
}

.topContain {
  height: 100%;
  width: 100%;
    @include mobile {
      height: auto;
    }
  // background-color: pink;
}

.flexSub {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin: auto;
  // background-color: red;
    @include mobile{
        display: flex;
        flex-direction: column;
    }
}

.bottomContain {
  height: 100%;
  width: 100%;
  // background-color: pink;
}
