@import "./global";

.subpromptContainer {
  // background-color: blue;
  justify-content: right;
  height: 95%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr .5fr;
  margin: auto;
    @include mobile{
        // padding-right: 10%;
        position: relative;
        height: auto;
        box-sizing: border-box;
        margin: auto;
        margin-top: -30vh;
        display: flex;
        flex-direction: column;
        
    }
}

.firstSub {
  // background-color: green;
  .title {
    margin: auto; 
    height: 100%;
    font-family: balboa, sans-serif;
    font-weight: bolder;
    font-size: $giantText;
    text-align: right;
    color: $goldX;
      @include mobile{
          margin-top: 0;
          height: auto;
          font-size: 13vw;
          text-align: center;
      }
      .break{
          @include mobile{
              display: none;
          }
      }
  }
  .line {
    position: absolute;
    height: 1.5%;
    width: 120%;
    left: -20%;
    top: 114%;
    background-color: $goldX;
      @include mobile{
          display: none;
      }
  }
}


.secondSub {
  // background-color: orange;
  font-size: $bodyText;
  font-family: garamond;
  line-height: $bodyLineHeight;
    
    @include mobile{
        font-size: 6vw;
        padding-left: 10%;
        margin-top: 10%;
    }

  .blurbOne {
    // background-color: blue;;
    margin: auto;
    position: relative;
    left: -20%;
    top: 42.5%;
    color: #808080;
      @include mobile{
          font-size: 5vw;
          left: 0;
          top: 0;
      }
  }
   
  .blurbTwo {
    // background-color: red;
    position: relative;
    top: 6%;
    left: 46%;
    color: #808080;
    @include mobile{
          font-size: 5vw;
          left: 0;
          top: 0;
      }
  }
}