@import "./global";

.subpromptContainer {
  // background-color: blue;
  justify-content: right;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr .5fr;
  margin: auto;
  // overflow: hidden;
}

.firstSub {
  // background-color: green;
  .title {
    margin: auto; 
    height: 100%;
    font-family: balboa, sans-serif;
    font-weight: bolder;
    font-size: $giantText;
    text-align: right;
    color: $goldX;
  }
  .line {
    position: absolute;
    height: 1.5%;
    width: 130%;
    left: -30%;
    top: 114%;
    background-color: $goldX;
  }
}


.secondSub {
  // background-color: orange;
  .blurbOne {
    // background-color: blue;;
    margin: auto;
    position: relative;
    font-family: garamond;
    font-weight: 500;
    font-size: $bodyText;
    line-height: 130%;
    left: -30%;
    top: 40.5%;
    color: #808080;
  }
  
  .blurbTwo {
    // background-color: red;
    position: relative;
    font-family: garamond;
    font-weight: 500;
    font-size: $bodyText;
    line-height: 130%;
    top: 8%;
    left: 49%;
    color: #808080;
  }
}