@import "./global";

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.uploadContainer {
  // background-color: blue;
  width: 100%;
  height: 100%;
}

.uploadForm {
  position: relative;
  // background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 63.5%;
  width: 100%;
  top: 5%;
    @include mobile{
        z-index: 500;
        position: relative;
        height: auto;
        justify-content: center;
    }
    input{
        @include mobile{
            font-size: 5vw;
        }    
    }
    label{
        @include mobile{
            font-size: 5vw;
        }
    }        
    button{
        @include mobile{
            font-size: 5vw;
        }
    }    
}

.email {
  height: 15%;
  width: 50%;
  background-color: black;
  color: $greyX;
  border: solid $greyX .2vh;
  font-size: $biggerBodyText;
  font-family: balboa, sans serif;
  text-indent: 1.3vw;
  transition: all .25s;
    @include mobile {
      padding: 2% 15%;
    }
}

.email:focus::placeholder {
  color: transparent;
}

.email:focus {
  border: solid $goldX .2vh;
}

input[type="file"] {
  background-color: red;
  display: none;
}

.fileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 50%;
  background-color: black;
  color: $goldX;
  border: solid $goldX .2vh;
  z-index: 2;
  font-family: balboa, sans-serif;
  font-weight: bolder;
  font-size: $biggerBodyText;
  cursor: pointer;
  transition: all .25s;
  @include mobile {
    padding: 2% 15%;
  }
}

.uploaded {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15%;
  width: 50%;
  background-color: $goldX;
  color: black;
  border: solid $goldX .2vh;
  font-family: balboa, sans-serif;
  font-weight: bolder;
  font-size: $biggerBodyText;
  text-indent: 1.3vw;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: all .25s;
  @include mobile {
    padding: 2% 15%;
  }
}

.fileUpload:hover {
  background-color: $goldX;
  color: black;
}

.x-container {
  background-color: pink;
  position: relative;
  left: 80%;
  top: 45.5%;
}

.x-active {
  position: absolute;
  left: -20%;
  animation: xRollIn .35s forwards ease-out;
  color: $greyX;
  font-family: "HelveticaNeue-Light";
  font-weight: 100;
  font-size: 1.5vw;
  cursor: pointer;
  z-index: 1;
}

.x-active:hover {
  color: $goldX
}

.x-inactive {
  position: absolute;
  left: 0%;
  animation: xRollOut .35s .06s forwards ease-in;
  color: $goldX;
  font-family: "HelveticaNeue-Light";
  font-weight: 100;
  font-size: 1.5vw;
  z-index: 1;
}

.formSubmit {
  height: 15%;
  width: 50%;
  background-color: black;
  color: $goldX;
  border-radius: 0;
  border: solid $goldX .2vh;
  font-size: 1.3vw;
  font-family: balboa, sans-serif;
  font-weight: bolder;
  font-size: $biggerBodyText;
  cursor: pointer;
  transition: all .25s;
  @include mobile {
    padding: 2% 15%;
  }
}

.formSubmit:hover {
  background-color: $goldX;
  color: black;
}

.uploadCaption {
  // background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12%;
  top: 5%;
  color: $greyX;
  font-family: garamond;
  font-size: $bodyText;

    @include mobile{
        font-size: 6vw;
    }
}

.captionContent {
  opacity: 0;
  animation: captionFadeIn .2s forwards ease-out;
}

.Progress,
.Progress_Seek {
  height: 3px;
}

.Progress {
  width: 50%;
  background-color: transparent;
  margin: auto;
  margin-top: 3.5%;
}
.Progress_Seek {
  background-color: $goldX;
}

@keyframes captionFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes xRollIn {
  0% { left: -20%; }
  50% {left: 0%; transform: rotate(360deg);}
  100% {left: 0%; transform: rotate(900deg);}
}

@keyframes xRollOut {
  0% { left: 0%; color: $goldX }
  50% {left: 4%; transform: rotate(-360%)}
  100% {left: -20%; transform: rotate(-900deg); color: $greyX }
}




